@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
body {
  width: 300px;
  height: auto;
  background: #212121;
}

.navbar {
  background: #212121 !important;
}
label {
  color: white;
}
.logo {
  text-align: center;
  font-family: 'Source Code Pro';
}

.fa-cog,
.fa-file-import,
.fa-download {
  color: white;
  cursor: pointer;
}
